@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* This flips light to dark */
}
.completed {
    text-decoration: line-through;
    color: lightgray;
}
.high {
    border-left: 20px solid red;
    border-radius: 1em;
    padding-left: 1em
}
.medium {
    border-left: 20px solid yellow;
    border-radius: 1em;
    padding-left: 1em
}

.low {

    border-left: 20px solid green;
    border-radius: 1em;
    padding-left: 1em
}
/* Add this to your styles.css file */
#task-list li {
    display: flex;
    justify-content: space-between; /* This pushes items to the ends */
    align-items: center; /* This vertically centers them */
    padding: 0.5rem 1rem; /* Add some padding for spacing */
    margin-bottom: 0.5rem; /* Space between tasks */
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}

#task-list li .task-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allows the task text to take up available space */
    margin-right: 1rem; /* Adds space between the text and the buttons */
    min-width: 0; /* Allows the flex item to shrink properly */
    overflow-wrap: break-word
}
.task-date {
    margin-left: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
}

